.home{
    min-height: 92vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    overflow-x: hidden;
 
    
}

.home h1 {
    width: 70%;
    font-size: 4rem;
    text-align: center;
}

.home h3 {
    width: 75%;
    text-align: center;
    font-weight: lighter;
    font-size: 1.8rem;
}

.header{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 92vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#FFFFFF, #D0EEEA);
    gap: 5vh;
    
}

.header h4{
    width: 60vw;
    align-items: center;
    justify-content: center;

}



.plans{
    display: flex;
    height: 92vh;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin-top: 20vh;
    

}

.planOptions{
    display: flex;
    height: 92vh;
    flex-direction: row;
    gap: 15vw;

}

.free{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

 .free h4{
     width: 18vw;
     align-items: center;
 }

.paid{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

.free button{
    height: 6vh;
    width: 7vw;
    border-radius: 8px;
    stroke: #00474B;
    color: #00474B;
    box-shadow: none;
}

.paid button{
    height: 6vh;
    width: 7vw;
    border-radius: 8px;
    stroke: #00474B;
    color: #00474B;

}

.freeFeatures{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 19vw;

}

.paidFeatures{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
}

.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
}

.twoFeatures{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    margin-left: 10vw;

}

.oneFeature{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
}

.otherTwoFeatures{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10vw;
    justify-content: center;
    margin-left: 10vw;

}

.features h4 {
    width: 30vw;
}

.twoFeature,
.threeFeature,
.fourFeature {
    display: flex;
    flex-direction: column;
    gap: 20px;
}