.signup {
    width: 50vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup form {
    height: 36%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.signup input,
.signup button,
.signup p,
.signup h1 {
    width: 20vw;
    height: 5vh;
}

.signup input {
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.37);
}

.signup button {
    border-radius: 50px;
    border: none;
    background: #00474B;
    color: #FFF;
}

.signup .line {
    height: 0.5px;
    width: 35vw;
    margin-top: 50px;
    background-color: #ccc;

}

.signedup {
    display: flex;
    padding: 45px;
    font-size: 1.2rem;
}

.signedup a {
    color: #00474B;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 75px;
    justify-content: space-between;
}

.signedup a:hover {
    color: #ccc;
}

.signedup p {
    display: flex;
    align-items: center;
}

.signupParent {
    display: flex;
}

.signupLeft {
    height: 92vh;
    width: 50vw;
    background-color: #0C9380;
    background-image: url("../../assets/images/graphic.png");
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7vh;
}

.signupLeft p {
    width: 30vw;
    color: #FFF;
    font-size: 1.4rem;
    font-weight: lighter;
}

.leftText {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.leftText img {
    padding: 10px;
    background-color: #76D9CB;
    border-radius: 8px;
}