nav {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    margin-left: 10vw;
}

nav ul {
    margin-right: 10vw;
    width: 13vw;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul a {
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul a:hover {
    color: #ccc;
}

nav a:nth-child(2) {
    background: #00474B;
    border-radius: 45px;
    color: #fff;
    padding: 10px 15px;
}

