.navmine {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navmine img {
    margin-left: 10vw;
}

.navmine ul {
    margin-right: 10vw;
    width: 15vw;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navmine ul a {
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
}

.navmine ul a:hover {
    color: #ccc;
}

.navmine ul button {
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
    border: none;
    background: transparent;
    cursor: pointer;
}

.navmine ul button:hover {
    color: #ccc;
}
/* 
nav a:nth-child(2) {
    background: #00474B;
    border-radius: 45px;
    color: #fff;
    padding: 10px 15px;
} */

